*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#wrapper {
    height: calc(100vh - 90px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

/* aside  */

aside{
    width: 230px;
    height: 100%;
    float: left;
    background-color: black;
    color: #a3a3a3;
    position: relative;
    overflow: visible;
    flex-direction: column;
}

#conteiner_up_aside{
    height: calc(100% - 150px);
    overflow: hidden;
}

#logo{
    width: 80%;
    margin: 20px 20px 30px 20px;
}

#logo_small{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: none;
}


#nav_up div{
    padding: 10px 20px;
}

#nav_up img{
    width: 40px;
}

.nav_flex{
    display: flex;
    align-items: center;
}

#nonloso {
    color: white;
    border-left: 3px solid #adff2f;
}

aside h3 {
    padding: 20px;
    color: white;
}
#new_playlist {
    display: flex;
    align-items:center;
    padding: 0 20px;
}

#new_playlist i{
    font-size: 50px;
    margin-right: 10px;
}

#nav_playlist{
    padding: 20px;
 
}

#nav_playlist ul{
    height: 25vh;
    margin-bottom: 10px;
    list-style-type:none;
}

#nav_playlist li{
    margin-bottom: 10px;
}


#footer_aside{
    margin: 5px 20px;
    width: 85%;
}

#footer_aside img{
    width: 20px;
    margin-right: 10px;
}
#footer_aside .nav_flex{
    margin: 15px 0;
}

#profile {
    width: 50px;
    height: 50px;
    background-color: gray;
    background-image: url(img/profile.svg);
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}



/* fine aside  */


main {
    width: calc(100% - 230px);
    height: 100%;
    float: left;
    background-color: #141922;
    color: gray;
    overflow: auto;
}

main::-webkit-scrollbar {
    display: none;
}

main h1, main h3{
    color: white;
}

#header {
    width: calc(100% - 230px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade {
    font-size: 20px;
    border: solid 2px white;
    border-radius: 25px;
    padding: 15px 30px;
    margin-right: 25px;
    transition: all 2s;
}

#upgrade:hover {
    font-size: 30px;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

main nav{
    margin-top: 120px;
}

nav ul {
    list-style-type:none;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin-right: 15px;
    position: relative;
}

nav ul li div {
    width: 25px;
    height: 3px;
    background-color: greenyellow;
    display: inline;
}

nav ul div {
    width: 25px;
    height: 3px;
    background-color: greenyellow;
    position: absolute;
    bottom: -5px;
    left: 40%;
}

.row{
    margin: 20px 0 50px 20px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

        /* card  */
.card {
    float: left;
    margin: 25px 50px 25px 0;
    position: relative;
    width: 300px;
    height: 430px;
    text-align: center;
  
}


.img_song {
    text-align: center;
    width: 300px;
    height: 300px;
}

.img_song img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title_song h3 {
    margin: 20px 0 10px 0;
}

.img_song:hover img{
    opacity: 0.5;
}

.img_song:hover i{
    display: inline;
}

.card i{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    display: none;
}

.card:last-child{
    margin-right: 0;
}

 .circle img{
     border-radius: 50%;
 }








 /* inizio footer  */
 
footer {
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

    /* sx */
footer i:hover {
    cursor: pointer;
}

#foot_sx {
    float: left;
    height: 100%;
    width: 25%;
    height: auto;
    display: flex;
    align-items:center;

}

.fa-heart{
    margin-right: 15px;
}

#foot_brano {
    display: flex;
    align-items:center;
    gap: 20px;
    margin: 0 40px 0 20px;
}

#sinister {
    width: 42px;
    height: 42px;  
}

#foot_brano img {
    object-position: center;
    width: 100%;
    height: 100%;
}

footer h4 {
    color: white;
}

    /* center  */

#foot_center {
    width: 50%;
    height: auto;
    color: white;
    /* float: left; */
}


#foot_center_up {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 8px;
}

#foot_center_down {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-play-circle {
    font-size: 30px;
}

.bar_player {
    width: calc(90% - 200px);
    height: 8px;
    background-color: #5a5a5a;
    border-radius: 25px;
}
.bar_player div {
    width: 10%;
    background-color: white;
    height: 100%;
    border-radius: 25px;
}


    /* dx */
#foot_dx {
    height: 100%;
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    /* float:   left; */
}

#volume{
    width: 40%;
}

#volume div{
    width: 30%;
}






/* responsive aside  */

@media all and (max-width:550px) {
    aside{
        width: 80px;
    }

    #logo_small{
        display: inline-block;
    }

    #logo, .nav_flex span, aside h3, #new_playlist, #nav_playlist, hr {
        display: none;
    }

    #nonloso{
        border: none;
    }

    #download{
        position: relative;
        left: 13px;
    }

    main {
        width: calc(100% - 80px);
    }

}

/* @media all and (max-height: 750px) {
   
    #nav_playlist ul{
        overflow-y: scroll;
        height: auto;
    }

    #nav_playlist{
        height: 500px;
    }

    #footer_aside{
        display: none;
    }
} */